@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Open+Sans&display=swap');

/* COLOR THEME

Light-cyan: #006ea9
White-bg: #f8f1df
White: #ffffff
Green: #4da446
Tennis-green: #d4f70c

Complements:
    #a93b00,
    #dfe6f8,
    #ffffff,
    #9d46a4,
    #2f0cf7
*/

/* DEFAULT STYLES */

:root {
    --header-font: 'Open Sans', arial, sans-serif;
    --p-font: 'Merriweather', sans-serif;
    --cyan: #006ea9;
    --smokey-white: #f8f1df;
    --court-green: #4da446;

    --footer-img-margin-r: 10px;
    --footer-socials-padding-t: 50px;
    --footer-img-height: 50px;
}

body {
    font-family: var(--header-font);
    font-size: 16px;
}

p {
    font-family: var(--p-font);
    line-height: 24px;
}

h1 {
    font-size: 32px;
    font-weight: bold;
    line-height: 56px;
    margin: 10px;
}

h2 {
    font-size: 26px;
    font-weight: 600;
    line-height: 36px;
    margin: 10px;
}

.container {
    display: flex;
    position: relative;
    text-align: center;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

a {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

button:hover {
    cursor: pointer;
}

a.inline {
    font-weight: 500;
    font-size: inherit;
    font-family: inherit;
    font-style: inherit;
    line-height: inherit;
    text-decoration: inherit;
    color: var(--cyan);
}

a.inline:hover {
    text-decoration: underline;
    font-weight: bolder;
}

a.nostyle {
    font-size: inherit;
    font-size: inherit;
    font-family: inherit;
    font-style: inherit;
    line-height: inherit;
    text-decoration: inherit;
    color: inherit;
}

a.nostyle:hover {
    color: var(--cyan);
    font-weight: bolder;
}

.reverse-order {
    order: row-reverse;
}

.large {
    font-size: large;
}

.llarge {
    font-size: larger;
}

.small {
    font-size: small;
}

article {
    margin: 15px;
    justify-content: center;
}

/* NAV */

nav {
    background-color: white;
    justify-content: space-between;
    height: fit-content;
    padding: 10px;
    z-index: 100;
    border-bottom: 1px solid rgba(126, 126, 126, 0.75);
}

nav #navbar-left {
    align-items: center;
}

nav #navbar-logo {
    --length: 40px;
    width: var(--length);
    height: var(--length);
    background-color: black;
}

nav #navbar-progress-div {
    color: var(--);
    margin-left: 5px;
}

nav #progress-img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    background-color: green;
}

nav #navbar-links {
    margin: 10px 20px 10px 10px;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: inherit;
    font-weight: normal;
}

nav a:hover {
    color: var(--cyan);
    font-weight: bold;
}

/* FOOTER */

footer {
    background-color: whitesmoke;
    width: 100%;
    height: 350px; /* Used to be 350px */
}

#footer-nav {
    max-width: fit-content;
    padding-left: 120px;
    padding-top: 50px; /* Used to be 100px */
    text-align: left;
}

#footer-links {
    margin-top: 15px;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    line-height: 1.5em;
}

#footer-socials {
    margin-left: auto;
    margin-right: calc(10vw - 50px);
    padding-top: 50px; /* Used to be 25px */
}

#footer-socials a img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

#footer-socials a {
    height: fit-content;
}

#author {
    align-self:flex-end;
    height: fit-content;
    position: absolute;
    right: calc(10vw - 50px + var(--footer-img-margin-r));
    top: calc(
        10px + 
        var(--footer-socials-padding-t) + 
        var(--footer-img-height)
    );
}

#website-host {
    align-self: flex-end;
    height: fit-content;
    position: absolute;
    right: calc(10vw - 50px + var(--footer-img-margin-r));
    bottom: calc(
        10px
    );
}