@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Open+Sans&display=swap');

/* COLOR THEME

Light-cyan: #006ea9
White-bg: #f8f1df
White: #ffffff
Green: #4da446
Tennis-green: #d4f70c

Complements:
    #a93b00,
    #dfe6f8,
    #ffffff,
    #9d46a4,
    #2f0cf7
*/

/* Z-SCORES
    Img: -1
    Nav: 100
*/

/* DEFAULT STYLES */

:root {
    --header-font: 'Open Sans', arial, sans-serif;
    --p-font: 'Merriweather', sans-serif;
    --cyan: #006ea9;
    --smokey-white: #f8f1df;
    --court-green: #4da446;
}

body {
    font-family: var(--header-font);
    font-size: 16px;
}

p {
    font-family: var(--p-font);
    line-height: 24px;
}

h1 {
    font-size: 32px;
    font-weight: bold;
    line-height: 56px;
    margin: 10px;
}

h2 {
    font-size: 26px;
    font-weight: 600;
    line-height: 36px;
    margin: 10px;
}

/* img {
    z-index: -1;
} */

.container {
    display: flex;
    position: relative;
    text-align: center;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

a:hover {
    cursor: pointer;
}

button:hover {
    cursor: pointer;
}

.reverse-order {
    order: row-reverse;
}

/* NAV */

nav {
    background-color: white;
    justify-content: space-between;
    height: fit-content;
    padding: 10px;
    z-index: 100;
    border-bottom: 1px solid rgba(126, 126, 126, 0.75);
}

nav #navbar-left {
    align-items: center;
}

nav #navbar-logo {
    --length: 40px;
    width: var(--length);
    height: var(--length);
    background-color: black;
}

nav #navbar-progress-div {
    color: var(--);
    margin-left: 5px;
}

nav #progress-img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    background-color: green;
}

nav #navbar-links {
    margin: 10px 20px 10px 10px;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: inherit;
    font-weight: normal;
}

nav a:hover {
    color: var(--cyan);
    font-weight: bold;
}

/* HERO IMAGE */

#heroimg {
    width: 100vw;
    height: 100vh;
    background-color: whitesmoke;
}

#title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}

#title h1 {
    font-size: 56px;
    padding: 15px;
    /* color: var(--cyan); */
    color: black;
}

#title p {
    padding: 15px 15px 25px;
}

#title hr {
    width: 50px;
    background-color: #e45541;
    height: 3px;
    border: none;
}

button#heroimg-join-btn {
    font-size: 14px;
    padding: 10px 15px;
    font-family: var(--header-font);
    border: none;
    border-radius: 5px;
    background-color: #e45541;
    color: white;
    font-weight: bold;
}

/* HOME INFO */

article {
    margin: 15px;
    justify-content: center;
}
    
article div {
    width: 500px;
}

article.single-article img:first-child {
    margin-right: 20px;
}

article div p {
    margin: 10px;
}

.article-img {
    background-color: beige;
    height: 185px;      /* 200 - 15 */
    width: 355.56px;    
    margin: 15px 10px;
}

.article-content h2, .article-content p {
    text-align: left;
}

a.inline {
    font-weight: 500;
    font-size: inherit;
    font-family: inherit;
    font-style: inherit;
    line-height: inherit;
    text-decoration: inherit;
    color: var(--cyan);
}

a.inline:hover {
    text-decoration: underline;
    font-weight: bolder;
}

#multi-article {
    width: 90%;
    margin: auto;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 10px;
    flex-wrap: wrap;
}

#multi-article > article {
    margin: none;
    padding: none;
    width: 30%;
    min-width: 30%;
}

#multi-article > article img {
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.vertical-content {
    flex-direction: column;
}

.below-img {
    margin-top: 10px;
}

footer {
    background-color: whitesmoke;
    width: 100%;
    height: 350px;
}